---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Order",
    titleBottom: "Modifications",
    img: c1,
    alt: "Order Modifications",
    link: "https://shopify.com",
  },
  {
    index: 2,
    titleTop: "Shipping Address",
    titleBottom: "Updates",
    img: c2,
    alt: "Shipping Updates",
    link: "https://shopify.com",
  },
  {
    index: 3,
    titleTop: "Product",
    titleBottom: "Swapping",
    img: c3,
    alt: "Product Swapping",
    link: "https://shopify.com",
  },
  {
    index: 1,
    titleTop: "Real-time",
    titleBottom: "Notifications",
    img: c4,
    alt: "Notifications",
    link: "https://shopify.com",
  },
  {
    index: 2,
    titleTop: "Order",
    titleBottom: "Cancellation",
    img: c5,
    alt: "Order Cancellation",
    link: "https://shopify.com",
  },
  {
    index: 3,
    titleTop: "Inventory",
    titleBottom: "Sync",
    img: c6,
    alt: "Inventory Sync",
    link: "https://shopify.com",
  },
];

const description =
  "Empower your customers with complete control over their orders. Our Shopify app enables seamless self-service order editing, reducing support tickets while improving customer satisfaction. These features include";
---

<Section id="features" className="pt-28">
  <div class="mb-5">
    <SectionTitle sectionTitle="Features" description={description} />
    <div class="grid gap-10 lg:grid-cols-2 lg:grid-rows-3">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>