---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Unlimited Order Edits",
    img: c1,
    alt: "Order Modifications",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
  {
    index: 2,
    titleTop: "Analytics Dashboard",
    img: c6,
    alt: "Shipping Updates",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
  {
    index: 3,
    titleTop: "Easy Onboarding",
    img: c3,
    alt: "Product Swapping",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
  {
    index: 1,
    titleTop: "Chat & Email Support",
    img: c4,
    alt: "Notifications",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
  {
    index: 2,
    titleTop: "No Hidden Fees",
    img: c2,
    alt: "Order Cancellation",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
  {
    index: 3,
    titleTop: "Custom Edit Window",
    subtitle: "*For advanced plan users",
    img: c5,
    alt: "Inventory Sync",
    link: "https://apps.shopify.com/easyedit-order-editing",
  },
];

const description =
  "Empower your customers with complete control over their orders. Our Shopify app enables seamless self-service order editing, reducing support tickets while improving customer satisfaction";
---

<Section id="features" className="pt-14">
  <div class="mb-5">
    <SectionTitle sectionTitle="Features" description={description} />
    <div class="grid gap-10 md:grid-cols-2 lg:grid-rows-3">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            subtitle={card?.subtitle}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
