---
import { Image } from "astro:assets";

import Facebook from "../../assets/facebook.svg";
import Linkedin from "../../assets/linkedin.svg";
import Logo from "../../assets/logo-dark.svg";
import Twitter from "../../assets/twitter.svg";
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com" },
];

const links = [
  { name: "About us", href: "#about" },
  { name: "Features", href: "#features" },
  { name: "Use Cases", href: "#cases" },
];
---

<section class="sm:px-5">
  <div class="mx-auto w-full max-w-7xl">
    <div
      class="bg-dark text-gray sm:rounded-t-base px-4 py-14 shadow-lg lg:px-11"
    >
      <div>
        <div
          class="flex flex-col items-center justify-between gap-7 lg:flex-row"
        >
          <picture class="max-w-50">
            <a href="#home">
              <Image src={Logo} alt="Logo for Kreatif Brand" />
            </a>
          </picture>
          <ul class="flex flex-col gap-5 sm:flex-row">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="my-12 flex flex-col lg:flex-row">
          <div class="flex w-full flex-col text-center lg:w-1/3 lg:text-start">
            <h3 class="text-primary mb-5 text-center text-2xl lg:text-left">
              Contact us
            </h3>
            <div class="flex flex-col justify-between gap-4">
              <span>Email: support@geteasyedit.com</span>
            </div>
          </div>
          <div class="my-10 grow lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

      <div class="bg-gray mb-5 h-px"></div>
      <div
        class="mt-4 flex flex-col justify-center text-center md:mt-0 md:justify-between lg:flex-row"
      >
        <span
          >© 2025 EasyEdit - A <a
            href="https://sturmfrei.com.au"
            class="underline">sturmfrei</a
          > product</span
        >
        <div class="mt-2 flex flex-col gap-2 lg:mt-0 lg:flex-row lg:gap-4">
          <a href="/terms" class="underline">Terms of Service</a>
          <a href="/privacy" class="underline">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</section>
