---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook.svg";
import Linkedin from "../../assets/linkedin.svg";
import Logo from "../../assets/logo-alt.svg";
import Twitter from "../../assets/twitter.svg";
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com" },
];

const links = [
  { name: "About us", href: "#about" },
  { name: "Services", href: "#services" },
  { name: "Use Cases", href: "#cases" },
  { name: "Pricing", href: "#Testimonials" },
  { name: "Blog", href: "#Home" },
];
---

<section class="sm:px-5">
  <div class="mx-auto w-full max-w-[1280px]">
    <div
      class="bg-dark text-gray px-[15px] py-[55px] sm:rounded-t-[45px] lg:px-[60px]"
    >
      <div>
        <div
          class="flex flex-col items-center justify-between gap-7 lg:flex-row"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} alt="Logo for Kreatif Brand" />
            </a>
          </picture>
          <ul class="flex flex-col gap-5 sm:flex-row">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="mt-[66px] mb-[51px] flex flex-col lg:flex-row">
          <div
            class="flex w-full flex-col text-center lg:w-[30%] lg:text-start"
          >
            <h3 class="text-primary mb-5 text-center text-2xl md:text-left">
              Contact us
            </h3>
            <div class="flex flex-col justify-between gap-4">
              <span> Email: examplemail.com </span>
              <span> Phone: +123 456 789 </span>
              <span class="lg:w-3/4">
                Address: 1234 Street Name, City Name, Country Name
              </span>
            </div>
          </div>
          <div class="my-10 grow lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

      <div class="bg-gray mb-5 h-px"></div>
      <div
        class="mt-4 flex h-20 flex-col justify-center text-center md:mt-0 md:justify-between lg:flex-row"
      >
        <span
          >2024 Positivus - Made With <a
            class="underline"
            target="_blank"
            href="https://astro.build">Astro</a
          > by
          <a class="underline" target="_blank" href="https://manulthanura.com"
            >Manul</a
          ></span
        >&nbsp
        <span>
          Credits (
          <a
            href="https://www.olgaskuja.design/"
            target="_blank"
            class="underline">Olga</a
          >,
          <a
            href="https://esteban-vasquez.netlify.app/"
            target="_blank"
            class="underline">Esteban</a
          >)
          <span> &</span>
          <a
            class="underline"
            href="https://creativecommons.org/licenses/by/4.0/"
            target="_blank">Licence</a
          >
        </span>
      </div>
    </div>
  </div>
</section>
