---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  { href: "/#features", label: "Features" },
  { href: "/#faqs", label: "FAQs" },
  // { href: "/about", label: "About us" },
  { href: "/pricing", label: "Pricing" },
];

const navButton = {
  href: "https://github.com/manulthanura/Positivus",
  label: "Request a quote",
};
---

<div class="mt-20">
  <nav class="fixed top-0 left-0 z-50 w-full bg-white/60 px-5 backdrop-blur">
    <header
      class="mx-auto my-5 flex w-full max-w-[1280px] flex-col items-center justify-between lg:flex-row"
    >
      <Astronav>
        <div class="flex w-full items-center justify-between lg:w-auto">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/logo.svg" class="h-8" alt="Logo" />
          </a>
          <div class="block lg:hidden">
            <div id="menu-icon" class="h-8 w-8 cursor-pointer text-black">
              <!-- Open (hamburger) icon -->
              <svg
                id="open-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                class="h-8 w-8"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <!-- Close (X) icon -->
              <svg
                id="close-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                class="hidden h-8 w-8"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </div>
          </div>
        </div>

        <nav
          class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto"
          id="menu-items"
        >
          <ul
            class="mt-4 flex flex-col rounded-lg border p-4 font-medium lg:mt-0 lg:flex-row lg:space-x-8 lg:border-0 lg:p-0"
          >
            {
              menuitems.map((item, index) => (
                <li>
                  <a
                    href={item.href}
                    class="mobile-nav-link block rounded px-3 py-2 text-black lg:bg-transparent lg:p-0"
                    data-close-menu="true"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
            <!-- <div class="lg:hidden flex items-center justify-center mt-3 gap-4">
              <a 
                class="mobile-nav-link px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" 
                href={navButton.href}
                data-close-menu="true"
              >
                <h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
              </a>
            </div> -->
          </ul>
        </nav>
      </Astronav>

      <!-- <div>
        <div class="hidden lg:flex items-center gap-4">
          <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" href={navButton.href}>
            <h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
          </a>
        </div>
      </div> -->
    </header>
  </nav>
</div>

<script is:inline>
  // Get references to the menu icon, open/close icons, and menu items
  const menuIcon = document.getElementById("menu-icon");
  const openIcon = document.getElementById("open-icon");
  const closeIcon = document.getElementById("close-icon");
  const menuItems = document.getElementById("menu-items");
  const closeMenuItems = document.querySelectorAll('[data-close-menu="true"]'); // Select all items with the 'data-close-menu' attribute

  // Toggle the menu visibility and icon when the menu icon is clicked
  menuIcon.addEventListener("click", () => {
    menuItems.classList.toggle("hidden"); // Toggle the 'hidden' class on the menu

    // Toggle between open and close icons
    openIcon.classList.toggle("hidden");
    closeIcon.classList.toggle("hidden");
  });

  // Close the menu when any item is clicked
  closeMenuItems.forEach((item) => {
    item.addEventListener("click", () => {
      menuItems.classList.add("hidden"); // Add the 'hidden' class to hide the menu
      openIcon.classList.remove("hidden"); // Show the open (hamburger) icon
      closeIcon.classList.add("hidden"); // Hide the close (X) icon
    });
  });
</script>
